* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #559082;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }

    .box-green {
        width: 502px;
        height: 925px;
        border-radius: 55px;
        background: #48CFB0;
    }
    .list-one {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
    
    }
    #seta {
        margin-top: 2.18rem;
    
    }
    
    #heart {
        margin-top: 1.12rem;
        margin-right: 1.5rem;
    
        
    }
    #name {
 
        color: #FFF;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: inline;
    }
    
    #number {
        color: #FFF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 1rem;
       margin-right: 2rem;
      }
    
    
    .pokemon {
    display: flex;
    justify-content: center;
    
    }
    

.menu {
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    padding-top: 25px;
    font-size: 1.25rem;
    font-style: bold;
    font-weight: 700;

}


#about {
    color: #4E4E4E;
  }
#base-stats {
    color: #A29A9A;
}
#evolution {
    color: #A29A9A;
    }
#moves {
    color: #A29A9A;
   }

   .list-two {
    display: inline-grid;
    list-style-type: none;
    font-size: 1.25rem;
   }

   
#species-index {
    text-align: justify;
    display: inline-flexbox;
    justify-content: space-between;

}

#species {
    color: #A29A9A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#seed {
    color: #030303;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#height-index {
    text-align: justify;
        }

#height {
   color: #A29A9A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#height-result {
        color: #030303;
     font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#weight-index {
       text-align: justify;
   

}

#weight {
   
    color: #A29A9A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#weight-result {
   color: #030303;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#abilities-index {
        text-align: justify;
   
    

}

#abilities {
   
    color: #A29A9A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#abilities-result {
    color: #030303;
     font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.box-white {
    border-radius: 55px;
    border-color: #48cfb0;
    border-style: solid;
    background: #FFF;
     border-color: #48CFB0;

}

.box-white h1 {
    padding-left: 40px;
}

.list-tree{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 9.4rem;
    align-items: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


#groups-index {
    
    text-align: justify;
     

}

#egg-groups {
    
    color: #A29A9A;
     font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#egg-groups-result {
    
    color: #030303;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cycle-index {
   
    text-align: justify;
   
}

#egg-cycle {
   
    color: #A29A9A;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#egg-cycle-result {
   
    color: #030303;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body {
        min-height: 0;
    }
    .box-green,
    .box-white {
        width: 345px;
        height: 700.8px; 
    }
    .list-one,.list-tree,.list-two{
        font-size: 1.05rem;
    }
    .box-white h1{
        font-size: 1.5rem;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    body {
        min-height: 0;
    }
    .box-green,
    .box-white {
        width: 345px;
        height: 700.8px; 
    }

    .list-one,.list-tree,.list-two{
        font-size: 1.05rem;
    }
    .box-white h1{
        font-size: 1.5rem;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    body {
        min-height: 0;
    }
    .box-green,
    .box-white {
        width: 480px;
        height: 700.8px; 
    }
    .list-one,.list-tree,.list-two{
        font-size: 1.05rem;
    }

    .box-white h1{
        font-size: 1.5rem;
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    /* tablet, landscape iPad, lo-res laptops and desktops */
    body {
        min-height: 0;
    }
    .box-green,
    .box-white {
        width: 480px;
        height: 700.8px; 
    }
    .list-one,.list-tree,.list-two{
        font-size: 1.05rem;
    }

    .box-white h1{
        font-size: 1.5rem;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        min-height: 0;
    }
    .box-green,
    .box-white {
        width: 480px;
        height: 700.8px; 
    }

    .list-one,.list-tree,.list-two{
        font-size: 1.05rem;
    }
    .box-white h1{
        font-size: 1.5rem;
    }


